{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block links %} {% endblock %}
    {% block scripts %} {% endblock %}

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'appraisals' %}">Учет успеваемости студентов</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'specialties' %}">Специальности</a></li>
            <li><a href="{% url 'courses' %}">Курсы</a></li>
            <li><a href="{% url 'students' %}">Студенты</a></li>
            <li><a href="{% url 'subjects' %}">Предметы</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block table %}{% endblock %}
</div>
</body>
</html>